# IDE
.idea/
*.iml
.vscode/

# Database
sqlserver-data/
*.db
*.sqlite

# Docker
data/
volumes/

# Logs
*.log
logs/

# Build
target/
bin/
build/
out/
*.class

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Test reports
reports/allure-results/*
!reports/allure-results/.gitkeep
